.result-item {
    display: flex;
    align-items: center;
    background-color: #1f2633;
    border-radius: 10px;
    padding: 10px 0;
}

.result-item:hover {
    background-color: #30394a;
    cursor: pointer;
}

.grid-movie {
    transition: all .2s ease-in-out;
}

.grid-movie:hover {
    cursor: pointer;
    transform: scale(1.08);
}

